.button {
    color:yellow;
    background-color: #0a0a0a;
}

.table {
    border: black, 1px, solid;
    background-color: white;
    color: #0a0a0a;
}

.input {
    background-color: white;
    color: black;
}

#characterForm{
    display:flex;
    justify-content: center;
}